{{> head }}
    
    {{> navbar }}
    
    <div class="container">
        <h1>Gustavo Cerati</h1>

        <div class="row">
            <div class="col">
                <img src="assets/img/Gustavo_Cerati.jpg" class="img-thumbnail img-fluid">
            </div>
        </div>
    </div>
    

{{> footer }}